body
  font font-size , font-family !important

.center-block
  display block
  margin 0 auto

.text-white
  color white !important


.display-inline
  display inline-block


.avatar
  img
    width 80px
    height 80px
    border-radius 100%
