.whammy-header
  background whammy-color !important
  border 0px !important
  color black !important

.sidemenu
  background whammy-color
  z-index 2
  padding 10px

  .item
    background-color transparent !important
    border none
    border-top 1px solid black

  .icon, .footer
    .icon
       color #D4D1CF
       font-size 1.45em
       text-decoration none

  .profile
    display flex
    align-items center

    width auto
    min-height 80px
    padding 10px
    margin-bottom 10px

    h1,h2,h3,h4,h5
      color center
      text-align center
      font-size 1em
      position relative
      font-weight 500
      margin-left 10px
      margin-right 10px




.sidemenu-items
  color #6C5E57
  background none !important


.bar-footer
    background-color: whammy-color !important;
    color: white !important;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px !important;
    font-size: 16px !important;

    a
      text-decoration none
      color black !important




